@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-size:18px;
    padding:0;
    margin:0;
}

.dark-bg {
    background-color: #1F2937
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header .links {
    color: #E5E7EB;
}


.hero,
.header {
    display:flex;
    justify-content: space-between;
    padding-left:100px;
    padding-right:100px;
    padding-top: 20px;;
    margin:0px;
}

.hero {
    padding: 100px;
}


.hero .title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    padding: 0px;
    margin-bottom:5px;
}

.hero .subtext {
    font-size: 18px;
    color:  #E5E7EB;
    margin-top:5px;
    margin-bottom:5px;
}

.hero button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 80px;
    border: none;
    height:25px;
    border-radius: 5px;
    font-weight: bold;
}

.hero .placeholder {
    background-color: #6d747d;
    width: 500px;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.random-information .title{
    font-size:36px;
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
}

.random-information .card-list {
    display:flex;
    justify-content: center;
    gap: 30px;
}

.random-information .card {
    border: 3px solid #4185f6;
    width: 180px;
    height:180px;
    border-radius: 10px;
}

.random-information .card-text {
    width:180px;
    font-size: 18px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:280px;
    padding-right:280px;
    padding-top: 20px;;
    margin:0px;
}

.quote-text{
    color: #68707a;
    font-size: 36px;
    font-weight:300;
    font-style:italic
}

.quote-sayer{
    color:#1F2937;
    text-align:right;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display:flex;
    padding:0;
    margin:0;
    gap: 10px;
}

a {
    text-decoration: none;
}
